- content_for :javascript do
  :javascript
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        icon: "#{asset_url('app_logo.png')}",
        buttons: {
          primary: {
            label: "API Key", callback: function(){ $('#api-key-container').fadeIn(); }
          },
          secondary: [
            { label: "Help", href:'https://gda.activedemand.com/XxMsg', target:'new' },
          ],
        },
      });
    });

%span#shop-id{'data-shop-id': @shop.id }
-if @adkey.key.blank?
  #first-install-container
    .fi-wrapper
      %h2
        Connect to ActiveDEMAND
      %p
        The ActiveDEMAND Shopify App requires an ActiveDEMAND marketing automation account
      .fi-buttons-container
        %button.account-exists.Polaris-Button.Polaris-Button--primary I Have An Existing Account
        %button.account-create.Polaris-Button I Need To Create A New Account
  #account-create-success
    .acs-wrapper
      %h2
        Success!
      %p
        We have sent an account confirmation email to
        %span#shop-email-address
      .acs-buttons-container
        %button.acs-continue.Polaris-Button.Polaris-Button--primary Continue
  .creating-account-loader
    .cal-wrapper
      %h2
        Creating A New ActiveDEMAND Account
      .loader
#api-key-container
  .api-key-wrapper
    .close-wrapper
      %span.close-modal
    %p
      Connect to Your Existing ActiveDEMAND Account
    = form_with(model: @adkey, local: true) do |form|
      - if @adkey.errors.any?
        #error_explanation
          %h2
            = pluralize(@adkey.errors.count, "error")
            prohibited this setting from being saved:
          %ul
            - @adkey.errors.full_messages.each do |message|
              %li= message
      .input-field-container
        = form.label :key, 'Enter Your API Key', class:'adkey-label'
        #vue_adkey.Polaris-TextField
          = form.text_field :key, id: :adkey_key, class: 'Polaris-TextField__Input', 'v-on:change':'verify_key', 'v-model':'key'
          .Polaris-TextField__Backdrop
      .instructions
        .instructions-text-block
          Your API Key can be found in your Account Settings in your existing ActiveDEMAND Account
        = image_tag(asset_path('example.jpg'), class:'instructions-image')
      .actions
        = form.submit 'Save Api Key', id: 'api_key_save', class: 'Polaris-Button Polaris-Button--primary'
        %button.close-modal.close-modal-button.Polaris-Button{type:'button'} Cancel

.tab
  %button.tablinks{'data-tab': 'content'}
    %span Content
    %span.tab-decoration
  %button.tablinks{'data-tab': 'automation'}
    %span Automation
    %span.tab-decoration
  %button.tablinks{'data-tab': 'cart-recovery'}
    %span Cart Recovery
    %span.tab-decoration

.tabcontent#content
  .container#content-container
    -if @shop.adkey.key?
      %h2 Current Forms
      #vue_forms

      %h2 Current Dynamic Blocks
      #vue_blocks
    :javascript
      vue_key_function("#{@shop.adkey.key}", "#{@shop.id}")

.tabcontent#automation
  .container#triggers-container
    .flex-row
      %h2 Triggers
      %button.create-new-webhook.custom-button New
    %table#triggers
      %tbody
    - if @shop.adkey.key?
      - if @shop.active_demand_webhooks.exists?
        :javascript
          all_ad_webhooks("#{@shop.id}")

.tabcontent#cart-recovery
  .container#abandoned-cart-container
    #abandoned-cart
