- content_for :javascript do
  :javascript
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        icon: '/assets/app_logo.png',
        buttons: {
          primary: {
            label: "API Key", callback: function(){ $('#api-key-container').fadeIn(); }
          },
          secondary: [
            { label: "Help", callback: function(){ $('#help-pop-up').fadeIn(); } },
          ],
        },
      });
    });

%span#shop-id{'data-shop-id': @shop.id }

#api-key-container
  .api-key-wrapper
    .close-wrapper
      %span.close-modal
    %p
      Please, enter a valid API key from your ActiveDEMAND Account. You can find it on
      %b Administration -> Account Settings
      page.
    = form_with(model: @adkey, local: true) do |form|
      - if @adkey.errors.any?
        #error_explanation
          %h2
            = pluralize(@adkey.errors.count, "error")
            prohibited this setting from being saved:
          %ul
            - @adkey.errors.full_messages.each do |message|
              %li= message
      #vue_adkey.Polaris-TextField
        = form.label :key
        = form.text_field :key, id: :adkey_key, class: 'Polaris-TextField__Input', 'v-on:change':'verify_key', 'v-model':'key'
        .Polaris-TextField__Backdrop
      .actions
        = form.submit 'Save Api Key', id: 'api_key_save', class: 'Polaris-Button Polaris-Button--primary'

.tab
  %button.tablinks{'data-tab': 'content'}
    %span Content
    %span.tab-decoration
  %button.tablinks{'data-tab': 'automation'}
    %span Automation
    %span.tab-decoration
  %button.tablinks{'data-tab': 'cart-recovery'}
    %span Cart Recovery
    %span.tab-decoration

.tabcontent#content
  .container#content-container
    %h2 Current Forms
    #vue_forms

    %h2 Current Dynamic Blocks
    #vue_blocks
    :javascript
      vue_test_function("#{@shop.adkey.key}", "#{@shop.id}")

.tabcontent#automation
  .container#triggers-container
    .flex-row
      %h2 Triggers
      %button.create-new-webhook.custom-button New
    %table#triggers
      %tbody
    - if @shop.adkey.key?
      - if @shop.active_demand_webhooks.exists?
        :javascript
          all_ad_webhooks("#{@shop.id}")

.tabcontent#cart-recovery
  .container#abandoned-cart-container
    #abandoned-cart
