- content_for :javascript do
  :javascript
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        icon: '/assets/app_logo.png'
      });
    });
%h2 Webhooks
- if @webhooks.present?
  %ul
    - @webhooks.each do |webhook|
      %li
        = webhook
        \: #{webhook.address}
- else
  %p This app has not created any webhooks for this Shop. Add webhooks to your ShopifyApp initializer if you need webhooks
%span#shop-id{'data-shop-id': @shop.id }
%h2 Api Key
= form_with(model: @adkey, local: true) do |form|
  - if @adkey.errors.any?
    #error_explanation
      %h2
        = pluralize(@adkey.errors.count, "error")
        prohibited this setting from being saved:
      %ul
        - @adkey.errors.full_messages.each do |message|
          %li= message
  #vue_adkey.form-group.left-intent
    = form.label :key
    = form.text_field :key, id: :adkey_key, class: 'form-control two-third', 'v-on:change':'verify_key', 'v-model':'key'
  .actions
    = form.submit 'Save Api Key', id: 'api_key_save'
%hr

.container#content-container
  %h2 Current Forms
  #vue_forms

  %h2 Current Dynamic Blocks
  #vue_blocks
  - if @shop.adkey.key?
    :javascript
      vue_test_function("#{@shop.adkey.key}")

%hr

.container#triggers-container
  .flex-row
    %h2 Triggers
    %button.create-new-webhook NEW
  %table#triggers
    %tbody
  - if @shop.active_demand_webhooks.exists?
    :javascript
      all_ad_webhooks("#{@shop.id}")
