- content_for :javascript do
  :javascript
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        icon: "#{asset_url('app_logo.png')}",
        buttons: {
          primary: {
            label: "API Key", callback: function(){ $('#api-key-container').fadeIn(); }
          },
          secondary: [
            { label: "Help", href:'https://gda.activedemand.com/XxMsg', target:'new' },
          ],
        },
      });
    });

%span#shop-id{'data-shop-id': @shop.id }

#api-key-container
  .api-key-wrapper
    .close-wrapper
      %span.close-modal
    %p
      Please, enter a valid API key from your ActiveDEMAND Account. You can find it on
      %b Administration -> Account Settings
      page.
    = form_with(model: @adkey, local: true) do |form|
      - if @adkey.errors.any?
        #error_explanation
          %h2
            = pluralize(@adkey.errors.count, "error")
            prohibited this setting from being saved:
          %ul
            - @adkey.errors.full_messages.each do |message|
              %li= message
      #vue_adkey.Polaris-TextField
        = form.label :key
        = form.text_field :key, id: :adkey_key, class: 'Polaris-TextField__Input', 'v-on:change':'verify_key', 'v-model':'key'
        .Polaris-TextField__Backdrop
      .actions
        = form.submit 'Save Api Key', id: 'api_key_save', class: 'Polaris-Button Polaris-Button--primary'

.tab
  %button.tablinks{'data-tab': 'content'}
    %span Content
    %span.tab-decoration
  %button.tablinks{'data-tab': 'automation'}
    %span Automation
    %span.tab-decoration
  %button.tablinks{'data-tab': 'cart-recovery'}
    %span Cart Recovery
    %span.tab-decoration

.tabcontent#content
  .container#content-container
    -if @shop.adkey.key.blank?
      %h2 ActiveDEMAND for Shopify
      .instructions
        .instruction-text-block
          %p You will require an ActiveDemand account to use this plugin. With an ActiveDEMAND account you will be able to:
          %ul
            %li Deploy Webforms for your pages
            %li Deploy Dynamic Content for your pages
            %li Dynamically swap content based on GEO-IP data
            %li Automatically change banners based on campaign duration
            %li Stop showing forms to people who have already subscribed
            %li Deploy Exit attempt Pop-ups and Subscriber bars
            %li Automatically send emails to those who purchase
            %li Automate cart recovery
            %li Send email campaigns to your subscribers
          %p
            To sign up for your ActiveDEMAND account, click
            %a{href:'https://www.activedemand.com/small-business-marketing-automation-software/'}here
          %br
          %p You will need to enter your application key in order to enable this app. You can find your API key in your ActiveDEMAND account settings:
        = image_tag(asset_path('example.jpg'), class:'instructions-image')
    -else
      %h2 Current Forms
      #vue_forms

      %h2 Current Dynamic Blocks
      #vue_blocks
    :javascript
      vue_test_function("#{@shop.adkey.key}", "#{@shop.id}")

.tabcontent#automation
  .container#triggers-container
    .flex-row
      %h2 Triggers
      %button.create-new-webhook.custom-button New
    %table#triggers
      %tbody
    - if @shop.adkey.key?
      - if @shop.active_demand_webhooks.exists?
        :javascript
          all_ad_webhooks("#{@shop.id}")

.tabcontent#cart-recovery
  .container#abandoned-cart-container
    #abandoned-cart
